.tg-login-button {
  /* opacity: 0; */
  /* margin-top: -32px; */
  width: 700px
}

.tg-login-button * {
    position: absolute;
    width: 700px !important;
    background-color: red !important;
    border: 1px solid red;
    padding: 50px;
  }
.mainclass {
  z-index: 1000;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

}

.tg-logo1 {
  align-items: center;
  justify-content: center;
  display: flex;

  border-width: 1px;
  border-color: #09090a;
  border-radius: 4px;
  height: 32px;
  background-color: #09090a;
  width: 700px;
}

body {
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}
