/* .tg-login-button {
  width: 100%;
  position: absolute; 
  top: 0;
}

.tg-main {
    position: relative;
}

.tgme_widget_login.large button.tgme_widget_login_button {
    font-size: 16px;
    line-height: 20px;
    padding: 9px 170px !important;
    border-radius: 20px;
  }

.tg-login-button * {
    width: 700px !important;
  }
.mainclass {
  z-index: 1000;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

}

.tg-logo1 {
  align-items: center;
  justify-content: center;
  display: flex;

  border-width: 1px;
  border-color: #09090a;
  border-radius: 4px;
  height: 32px;
  background-color: #09090a;
}

body {
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
} */
